#inhalte-zentriert {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0.5% 2%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:    "header header"
                            "sidebar main"
                            "footer footer";
}

/*Body Elements*/
header{
    grid-area: header;
    background-color: #68d388;
}


nav{
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    gap: 1em; 
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

nav a{
    text-decoration: none;
    color: black;
}

.navBox{
    background-color: #c2edda;
    height: 4em;
    width: 100%;
    transition: 0.2s;
}

.navBox:hover{
    background-color: #f43a09;
    font:  bold 1em "Roboto", sans-serif;
}

.navBoxactive{
    background-color: #ffb766;
    height: 4em;
    width: 100%;
}



main{
    grid-area: main;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
}



footer{
    grid-area: footer;
    margin-top: 1em;
}

footer a{
    text-decoration: none;
    color:black;
}

footer a:hover{
    color: #f43a09;
    font:  bold 1em "Roboto", sans-serif;
}


/*Own styles*/
.Picture_NB{
    width: 50%;
}

.image-container{

}


/*Tabelle*/

table, th, td{
    width:100%;
    border: 1px solid;
    text-align: center;
}

.RowTime{
    width:2em;
}

.RowDays{
    width:15em;
}



table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem;
}

th{

}

td{

}

/*tr:nth-child (){

}*/