.inhalte-zentriert{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0.5% 2%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:    "header header"
                            "sidebar main"
                            "footer footer";
}

/*Body Elements*/
header{
    grid-area: header;
    background-color: #68d388;
}


nav{
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    gap: 1em; 
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

nav a{
    text-decoration: none;
    color: black;
}

.navBox{
    background-color: #c2edda;
    height: 4em;
    width: 100%;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navBox:hover{
    background-color: #f43a09;
    font:  bold 1em "Roboto", sans-serif;
}

.navBoxactive{
    background-color: #ffb766;
    height: 4em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}



main{
    grid-area: main;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
}



footer{
    grid-area: footer;
    margin-top: 1em;
}

footer a{
    text-decoration: none;
    color:black;
}

footer a:hover{
    color: #f43a09;
    font:  bold 1em "Roboto", sans-serif;
}


/*Own styles*/
.Picture_NB{
    width: 50%;
}

.image-container{

}


/*Tabelle*/
table, th, td{
    border: 1px solid;
    text-align: center;
}

.RowTime{
    width:2em;
}

.RowDays{
    width:15em;
}

table {
    /*width: 100%;*/
    border-collapse: collapse;
    font-size: 1rem;
    table-layout: fixed;
    overflow: scroll;
}


/*Modal Class*/
.modal-container{
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content{
    width: 40%;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    position: relative;
    overflow: none;
    margin:auto;
    /*display:grid;
    grid-template-rows: 5% 90% 10%;
    grid-template-areas: "header"
                        "body"
                        "footer";*/
}

.modal-header{
    padding: 1.5em;
    background-color: #5cb85c;
}

.modal-body{
    padding: 2em;
}

.modal-footer{
    padding: 1em;
    background-color: #c2edda;
}

/*Text Modal ID*/
#Text-Modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#Help-Modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}


/*Button*/
.open:hover{
        cursor: pointer;
}

/*Close Button Class*/
.modal-header .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
}

.modal-header .close:hover{
    cursor: pointer;
}